alabaster==0.7.12
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.2
argh==0.26.2
arrow==1.2.2
astroid==2.6.6
async-generator==1.10
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.5.6
Babel==2.9.1
backcall==0.2.0
binaryornot==0.4.4
black==19.10b0
bleach==4.1.0
brotlipy==0.7.0
certifi==2021.5.30
cffi==1.14.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.4
cookiecutter==1.7.3
cryptography==35.0.0
dataclasses==0.8
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20200713
docutils==0.17.1
entrypoints==0.3
filelock==3.4.1
flake8==3.9.0
future==0.18.2
idna==3.10
imagesize==1.3.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
inflection==0.5.1
intervaltree==3.1.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
isort==5.9.3
jedi==0.17.2
Jinja2==3.0.3
jinja2-time==0.2.0
joblib==1.1.1
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
keyring==23.1.0
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mistune==0.8.4
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
numpy==1.19.5
numpydoc==1.1.0
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.7.0
pathspec==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.0.0
poyo==0.5.0
prompt-toolkit==3.0.20
psutil==5.8.0
ptyprocess==0.7.0
pycodestyle==2.6.0
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.2.0
Pygments==2.11.2
pylint==2.9.6
pyls-black==0.4.6
pyls-spyder==0.3.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-slugify==5.0.2
pytz==2025.2
PyYAML==5.4.1
pyzmq==22.2.1
QDarkStyle==3.0.2
qstylizer==0.1.10
QtAwesome==1.0.3
qtconsole==5.2.2
QtPy==2.0.1
regex==2023.8.8
requests==2.27.1
rope==0.22.0
Rtree==0.9.7
sacremoses==0.0.53
sentencepiece==0.2.0
six==1.17.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.0.5
spyder-kernels==2.0.5
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.1
three-merge==0.1.1
tinycss==0.4
tokenizers==0.10.3
toml==0.10.2
torch==1.10.2
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
transformers==4.5.1
typed-ast==1.4.3
typing-extensions==4.1.1
ujson==4.0.2
Unidecode==1.2.0
urllib3==1.26.20
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
wurlitzer==2.1.1
yapf==0.31.0
zipp==3.6.0
